<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="false" />
        <windowsAuthentication enabled="true" />
      </authentication>
      </security>

    <rewrite>
      <rules>
        <clear />
        <rule name="BypassProxyForBootstrap" stopProcessing="true">
          <match url="^bootstrap\.aspx$" />
          <action type="None" />
        </rule>

        <rule name="RedirectRootToBootstrap" stopProcessing="true">
          <match url="^$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="(^|&amp;)user=" negate="true" />
          </conditions>
          <action type="Redirect" url="/bootstrap.aspx" redirectType="Found" />
        </rule>

        <rule name="ProxyToStreamlit" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8501/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>